################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TurtleAttack/bin/Release/netcoreapp2.0
/TurtleAttack/obj/Release/netcoreapp2.0
/TurtleAttack/published
/TurtleAttack/obj/netcoreapp2.0/ubuntu.14.04-x64/host
/TurtleAttack/bin/Debug/netcoreapp2.0
/TurtleAttack/obj/Debug/netcoreapp2.0
/TurtleAttack.Domain/bin
/TurtleAttack.Domain/obj
/TurtleAttack.Domain/published
